# ESG profile Key-Initiatives (KIs) from Companies' Annual reports
> ### To extract KIs from Annual reports using NLP

In [1]:
# Import neccessary libraries

import numpy as np
import pandas as pd

In [5]:
# Group list of companies by sectors (https://en.wikipedia.org/wiki/List_of_companies_of_Finland)

companies_df = pd.read_html('https://en.wikipedia.org/wiki/List_of_companies_of_Finland')[0]
companies_df.head()

,Name,Industry,Sector,Headquarters,Founded,Notes
0,Ahlstrom,Basic materials,Basic resources,Helsinki,1851,Fiber materials
1,Aktia Bank,Financials,Banks,Helsinki,1991,Finance
2,Alma Media,Consumer services,Publishing,Helsinki,1849,Digital media
3,Altia,Consumer goods,Distillers & vintners,Helsinki,1999,Alcoholic beverages
4,Amer Sports,Consumer goods,Recreational products,Helsinki,1950,Sporting equipment

In [9]:
companies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          87 non-null     object
 1   Industry      87 non-null     object
 2   Sector        87 non-null     object
 3   Headquarters  87 non-null     object
 4   Founded       87 non-null     int64
 5   Notes         87 non-null     object
dtypes: int64(1), object(5)
memory usage: 4.2+ KB

In [17]:
# Sort companies by Industry and Sector

companies_sorted = companies_df.sort_values(['Industry','Sector'])
companies_sorted

,Name,Industry,Sector,Headquarters,Founded,Notes
0,Ahlstrom,Basic materials,Basic resources,Helsinki,1851,Fiber materials
85,Woikoski,Basic materials,Basic resources,Voikoski[8],1882,Helium
73,Tikkurila,Basic materials,Commodity chemicals,Vantaa,1862,Paints
43,Outokumpu,Basic materials,Iron & steel,Helsinki,1932,Steel
71,Talvivaara Mining Company,Basic materials,Nonferrous metals,Espoo,2004,Nickel mining
...,...,...,...,...,...,...
13,Elisa,Telecommunications,Fixed line telecommunications,Helsinki,1882,Telecommunications services
10,DNA Oyj,Telecommunications,Mobile telecommunications,Helsinki,2000,Telecommunications services
19,Fortum,Utilities,Alternative electricity,Espoo,1998,Energy
47,Pohjolan Voima,Utilities,Alternative electricity,Helsinki,1943,Energy
15,Fingrid,Utilities,Conventional electricity,Helsinki,1996,Electricity transmission